<html>
  <head>
    <style>
      body {
        background: gray;
      }
    </style>
  </head>
  <body>
    <p>Welcome to the tutorial on how to play MASTERMIND!</p><br>

    <p>Every time you start a new game a random code is generated.</p>
    <p>This code is a randomly generated 4 digit number and can only be from the digits 1-6.</p>
    <p>You have 12 turns to guess the code.</p>
    <br>

    <p>Every time you make a guess, the program will return the result of that guess.</p>
    <ul>
      <li><p>Guess - the guess you made</p></li>
      <li><p>R - right digits in a right position</p></li>
      <li><p>W - right digits but in a wrong position</p></li>
    </ul><br>

    <p>You win if the result is 4 | 0, which means you got all of the 4 digits in the right position.</p><br>

    <p>Have fun playing!</p>

    <br>
    <form method="GET" action="/">
      <input type='submit' value="Go back to playing!">
    </form>
  </body>
</html>

