<html>
  <head>
    <style>
      body {
        background: gray;
      }
    </style>
  </head>
  <body>
    <form method="GET" action="/newgame" >
      <input type='submit' value='Start a new game!' />
    </form>
    <p><%= @message %></p>
  </body>
</html>

